/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/*header styles*/
.logo-img {
  width: 90px;
  display: inline-block;
}

.logo-text {
  font-family: 'Satisfy', cursive;
  color: #F37972; /*base orange*/
  display: inline-block;
}
