/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Satisfy');



/*universials*/
.white-text {
  color: #fff;
}

.grey-text {
  color: #959595;
}

/*header styles*/
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  width: 90px;
  display: inline-block;
}

.logo-text {
  font-family: 'Satisfy', cursive;
  color: #F37972; /*base orange*/
  display: inline-block;
}

/*hero styles*/
.hero {
  background-image: url(../img/hero.jpg);
  height: 350px;
  background-position: center;
  background-size: cover;
  padding-top: 35px;
}

.hero .white-text {
  font-size: 2em;
}

/*featured section styles*/

.featured {
  margin-bottom: 60px;
}

.thumbnail {
  padding: 8px 12px;
  background-color: #edf1f4; /* light grey*/
}

/*footer styles*/
.footer {
  height: 150px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /*justify-content: space-around;*/
  /*align-items: center;*/
}

.top-footer {
  margin-left: 100px;
}

.address {
  border-left: 1px solid #3e3e3e;
  border-right: 1px solid #3e3e3e;
}

.middle {
  margin-left: 30px;
}

.copyright {
  padding: 1%;
}
